// Base

h2 {
	font-family: 'Raleway', sans-serif;
	color: $gray-dark;
}
h5 {
	font-weight: 500;
	color: $black;
}

p {
	font-size: 0.85rem;
}


.text-dark {
	color: $gray!important;
}

///Shapes

.line {
	display: block;
	height: 2px;
	width: 65px;
	margin: 2rem 0;
	&-white {
		background-color: $white;
	}

	&-main {
		background-color: $brand-primary;
	}
}

// Main nav
#main-nav {
	height: 4.5rem;
	.container {
		

		@media screen and (max-width: 576px) {
			width: 100%;
		}
	}
}

.navbar {
	
	background-color: $black;
	width: 100%;
	padding: 1rem 0;
	z-index: 9999;
}

.navbar-brand {
	font-size: 2rem;
	padding: 0;
	margin: 0;
	span {
		color: $brand-primary;
	}

	&:hover {
		color: $white;
	}
}

.navbar-collapse {
	background-color: $black;
	
}
.nav-item {
	font-size: 0.8rem;
	margin-left: 1rem;
}

.nav-link {
	@media screen and (max-width: 768px) {
		padding: 1rem 0!important;	
	}
}

.navbar-toggler {
	align-self: center;
}



/// Main header
#main-header {
	background: url(../img/header.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	padding: 6rem 0;
	h1 {
		font-size: 5rem;
		text-transform: uppercase;
		span {
			font-weight: 300;
		}
	}
	h2 {
		color: $white;
	}
	p {
		font-size: 1rem;
	}
	.btn-outline-secondary:hover {
		color: $brand-primary;
	}
	.card {
		background-color: white;
		border: none;
	}
	.card-header {
		background-color: $gray-lightest;
	}
	

}

.main-header-form {
	.form-control {
		padding: 2rem 0.75rem 0.5rem;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid $gray-lighter;
		font-size: 0.8rem;
		&::placeholder {
			color:  $gray-light;
		}
	}
	.btn {
		padding: 1rem 0;
		background-color: $brand-secondary;
		&:hover {
			background-color: $brand-primary;
			cursor: pointer;
		}
	}
}




// Social media
#social-media {
	padding: 1.5rem;
	border-bottom: 2px solid $gray-lighter;
	h5{
		color: $gray;
		font-weight: 700;
	}

	// p {
	// 	color: $gray-lighter;
	// }
	
	.fa {
		font-size: 3.25rem;
		color: $gray-lighter;
		flex: 1;
		text-align: center;

		&:hover {
			color: $brand-primary;
		}
		@media screen and (max-width: 768px) {
			margin-top: 1rem;
		}
	}
}




// Feature section all

.feature-content {
	padding: 6rem 0;
	img {
		width: 100%;
	}
}

.feature-dark {
	background-color: $gray-lightest;
}

// Feature 1

#feature-one {
	.nav-link {
		width: 6.5rem;
		height: 6.5rem;
		margin-top: 0.1rem;
		text-align: center;
		justify-content: center;
		display: flex;
		align-items: center;

		@media screen and (max-width: 576px) {
			width: 5.5rem;
			height: 5.5rem;
		}

		&.active,
		&:hover {
			background-color: $brand-primary!important;
			color: $white;
		}
	}

	@media screen and (max-width: 576px) {
		.nav {
			flex-direction: row!important;
			margin-bottom: 2rem;
			justify-content: space-around;
		}
	}
}

// Feature 2

#feature-two {
	.line {
		margin: 1.25rem 0;
	}
	.fa-cloud-download {
		border: 2px solid $brand-primary;
		color: $brand-primary;
		border-radius: 50%;
		padding: 0.8rem;
	}
}


#empty {
	background-color: pink;
	height: 300px;	
}

// Feature 3

// Feature 4

#feature-four {
	h5 {
		margin: 1.8rem 0;
		font-weight: 700;
		color: $gray;
	}
	i {
		display: block;
		width: 4rem;
		height: 4rem;
		margin: auto;
		margin-top: 2rem;
	}
	.fa {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		border: 2px solid $brand-primary;
		color: $brand-primary;
		border-radius: 50%;
		padding: 2rem;
	}
}

// Feature 5
#feature-five {
	.card {
		border: none;
	}
	h5 {
		color: $white;
		font-weight: 600;
	}
	.card-header {
		background-color: $gray;
		border: none;
		border-bottom: 1px solid $gray-light;
		
		
	}
	
	.card-block {
		border: none;
		background-color: $gray;
		h2 {
			color: $white;
			font-weight: 600;
			span {
				font-size: 6.5rem;
				font-weight: 700;
			}
		}
	}
	
	.list-group-item {
		justify-content: center;
		
		border: 1px solid $gray-lightest;
		border-right: none;

		border-left: none;
		border-bottom: none;
	}
	
	.card-footer {
		background-color: $brand-primary;
		
	}


}

.price-option {
	transition: 0.4s;
	margin-top: 2rem;
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 0 25px $brand-secondary;
	}
}

// Feature 6
#feature-six {
	.media {
		margin-top: 2rem;
		img {
			width: 80px;
		}

		h5 {
			font-weight: 700;
			color: $gray;
		}
	}
}



.buble {
	background-color: $gray-lightest;
	color: $gray-light;
	padding: 2rem 1rem;
	border-radius: 3px;
	position: relative;
}

.triangle {
	display: block;
	position: absolute;
	content: "";
	width: 0px;
	height: 0px;
	border: 12px solid transparent;
	border-top: 15px solid $gray-lightest;
	top: 100%;
	left: 10%;
}

// Feature 7
#feature-seven  {
	background: url(../img/big.jpg) no-repeat center;
	background-size: cover;
	.feature-content{
		padding: 5rem 0;
	}
}